{{ ansible_managed | comment }}
DEVICE={{ os_provider_interface }}
HWADDR={{ os_provider_mac }}
TYPE=Ethernet
BOOTPROTO=none
ONBOOT=yes
NM_CONTROLLED=no
IPADDR={{ os_provider_ip }}
PREFIX={{ os_provider_mask }}
