{{ ansible_managed | comment }}
export OS_USERNAME=demo
export OS_PASSWORD={{ vault_os_user_demo_password }}
export OS_PROJECT_NAME=demo
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://{{ os_controller }}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
