{{ ansible_managed | comment }}
export OS_USERNAME=admin
export OS_PASSWORD={{ KEYSTONE_PASS }}
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://{{ os_controller }}:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
