{{ ansible_managed | comment }}
[mysqld]
bind-address = {{ os_mgmt_ip }}

default-storage-engine = innodb
innodb_file_per_table = on
max_connections = 4096
collation-server = utf8_general_ci
character-set-server = utf8
