{{ ansible_managed | comment }}
TYPE=Ethernet
BOOTPROTO=none
IPADDR={{ os_mgmt_ip }}
PREFIX={{ os_mgmt_mask }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
NAME={{ os_mgmt_interface }}
#UUID=
DEVICE={{ os_mgmt_interface }}
ONBOOT=yes
